.wrapper {
    --search-border-radius: 92px;
    --search-icon-width: 52px;
    --search-width: 361px;
    --search-hight: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.action {
    display: flex;
    align-items: center;
}

.listIcon {
    margin-left: 16px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 4px 8px;
}

.action-btn {
    width: 32px;
    height: 32px;
    font-size: 2rem;
    padding: 4px;
    cursor: pointer;
    color: rgba(22, 24, 35, 1);

    + .action-btn {
        margin-left: 16px;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 550px;
    object-fit: cover;
    margin-left: 24px;
    cursor: pointer;
}
